*results*
*logs*
*NVM_LOG
*/matrixkv/logs/*
*build*
Figure_9_Table_5/checkpointing/HS/data/*
**.csv
**.txt
**compile_log.txt
Figure_9_Table_5/native/BFS/input
GPMBench_LibGPM/checkpointing/HS/data/power_16384
GPMBench_LibGPM/checkpointing/HS/data/temp_16384
